{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% comment %} <h2>{{cv.name}} </h2> {% endcomment %}
        {% comment %} <div id="add-skill-page">
            
            <h1>Créez votre CV</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="name">Mon cv :</label>
                <input type="text" id="name" name="name">
                <input type="submit" value="Ajouter">
            </form>
        </div> {% endcomment %}
    </div>

{% endblock content %}