{% extends 'base.html' %}
{% block body %}
<div class="content">
    <div class="container mg-4">
        <h1>
            {{user_cv.personne.firstname}} {{user_cv.personne.lastname}}
        </h1>
        {% if cv %}
        <h1>
            {{cv.name}}    
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{MEDIA_URL}}{{user_cv.personne.get_photo_url}}" id="pp" class="img-fluid rounded-circle" href={% url 'profil' %}>
                </div>
                {% if competences %}
                <div class="col-sm-10">
                    <h3>
                        Compétences
                    </h3>
                    {% for comp in competences %}
                    {% comment %} {% if creator %} {% endcomment %}
                        {% comment %} {% url 'get_or_create' %} {% endcomment %}
                        <form action={% url 'competences_update_or_create' comp.uuid %} method="post">
                            {% csrf_token %}
                            <div class="container">
                                <div class="form-group">
                                    <input type="text" class="form-control no-bg" name="title" value="{{comp.title}}">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" class="form-control no-bg" name="desc">{{comp.description}}</textarea>
                                </div>
                                {% if user_cv is user %}
                                    <button type="submit" class="btn btn-primary"> Envoyer </button>
                                {% endif %}
                            </div>
                        </form>
                        <hr>
                    {% comment %} {% else %}
                        tqt
                    {% endif %} {% endcomment %}
                    {% endfor %}
                </div>
                {% else %}
                    Pas de competence
                {% endif %}
            {% else %}
                Pas de cv
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}