{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="hirupnav container-fluid">
        <a href={% url 'index' %} {% if request.get_full_path == '/' %} class="nav-link selected" {% else %} class="nav-link" {% endif %}><div class="logo-image"><img src={{MEDIA_URL}}logo.webp alt="Hirup" class="img-fluid hirupimg logo top"></div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav nav-pills navtext me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href={% url 'profil' %} {% if request.path == '/profil/' %} class="nav-link selected" {% else %} class="nav-link" {% endif %} >Profil</a></li>
                        <li class="nav-item"><a href={% url 'cv_view' user.uuid %}  {% if request.get_full_path == 'cv' %} class="nav-link selected" {% else %} class="nav-link" {% endif %} >Cv</a></li>
                        <li class="nav-item"><a href="#"  {% if request.get_full_path == 'test' %} class="nav-link selected" {% else %} class="nav-link" {% endif %} >Rechercher</a></li>
                        <li class="nav-item"><a href="#" {% if request.get_full_path == 'test' %} class="nav-link selected" {% else %} class="nav-link" {% endif %} >Professeurs</a></li>
                </ul>
                {% else %}
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                S'inscrire
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'signup_person' %}">Je suis une personne</a></li>
                                <li><a class="dropdown-item" href="{% url 'signup_etp' %}">Je suis une entreprise</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <ul class="navbar-nav nav-pills navtext mb-2 mb-lg-0 justify-content-between">
                {% if request.user.is_authenticated %}
                    <li class="nav-item connectionbutton"><a href={% url 'logout' %} {% if request.get_full_path == '/login/' %} class="nav-link selected" {% else %} class="nav-link connectionbutton" {% endif %} >Se déconnecter</a></li>
                    <a href={% url 'profil' %}><div class="profilpic">  <img src={% if user.profilpic %}{{user.profilpic.url}}{% else %}{{MEDIA_URL}}user/pp/default.webp{% endif %} alt="Profil" width="50" height="50" class="img-fluid rounded-circle pp top"></div></a>
                {% else %}
                    <li class="nav-item"><a href={% url 'login' %} {% if request.get_full_path == '/login/' %} class="nav-link selected" {% else %} class="nav-link connectionbutton" {% endif %} >Se connecter</a></li>
                {% endif %}
                </ul>
            </div>
    </div>
</nav>
