{% extends 'base.html' %}
{% block content %}
        <div class="row">
                <div class="col-4 col-md-3 line text-center">
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                        <div> bla</div>
                </div>
                <div class="col-md-8">.col-md-8</div>
        </div>
{% endblock content %}