{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
{% endblock style %}
{% block content %}
<form method="post" action={% url 'profil' %}>
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class="col-sm-4">
                {% comment %} <img src="{{user.profilpic.url}}" id="pp" class="img-fluid rounded-circle"> {% endcomment %}
                <img src="{{ user.profilpic.url }}" class="img-fluid rounded-circle">
                <input type="file" name='profilpic'>
            </div>
            <div class="col-sm-8">
                <div>
                    <label>Email:</label>
                    {{form.username}}
                </div>
                <hr>
                {% if user.personne %}
                <div>
                    <label > Nom: </label>
                    {{form.lastname}}
                </div>
                <hr>
                <div>
                    <label > Prénom: </label>
                    {{form.firstname}}
                </div>
                <hr>
                {% endif %}
                <div>
                    <label > Numéro de téléphone: </label>
                    {{form.phonenumber}}
                </div>
                <hr>
                <button type="submit">Save</button>
            </div>
        </div>
    </div>
</form>
<script>
        // Récupérer tous les boutons avec un crayon
        const buttons = document.querySelectorAll('button');
    
    // Ajouter un gestionnaire d'événement click pour chaque bouton
    buttons.forEach(button => {
        button.addEventListener('click', event => {
            // Récupérer le champ associé au bouton cliqué
            const input = button.previousElementSibling;
            
            // Changer l'état de lecture seule du champ
            input.readOnly = !input.readOnly;

        
        });
    });

    // Récupérer l'élément input pour l'image de profil
    const input = document.querySelector('input[type="image"]');

    // Ajouter un gestionnaire d'événement change pour l'élément input
    input.addEventListener('change', event => {
        // Récupérer l'image choisie par l'utilisateur
        const image = event.target.files[0];

        // Récupérer l'élément img pour l'image de profil
        const img = document.getElementById('pp');

        // Mettre à jour l'attribut src de l'élément img avec l'image choisie par l'utilisateur
        img.src = URL.createObjectURL(image);
    });
</script>
{% endblock content %}